@import url("/styles/components/button.css");
@import url("/styles/components/input.css");
@import url("/styles/components/typography.css");

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  flex-direction: column;
}

.auth-logo {
  width: 396px;
  height: 132px;
}

.auth-form {
  display: flex;
  flex-direction: column;

  gap: 24px;
  width: 640px;
  margin-bottom: 24px;
}

.auth-input {
  width: 100%;
}

.auth-label {
  display: block;
  margin-bottom: 16px;
}

.underline {
  text-decoration: underline;
}
