@import url("/styles/global.css");
@import url("/styles/components/button.css");
@import url("/styles/components/typography.css");

/* Common */
.gnb {
  width: 1120px;
  margin: 9.5px auto;
}

.gnb > nav {
  display: flex;
  align-items: center;
  margin: 0px auto;
  justify-content: space-between;
}

/* index.css */
.login-button {
  width: 128px;
  height: 48px;
}

.landing-header {
  background-color: var(--bg-blue);
  padding-top: 200px;
}

.landing-header > div {
  width: 1110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4em;
  color: var(--secondary-700);
}

.landing-header-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 60px;
  word-break: keep-all;
}

.landing-body {
  background-color: var(--bg-white);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.landing-section {
  display: flex;
  align-items: center;
  gap: 64px;

  width: 988px;
  margin: 138px auto;

  background-color: var(--bg-gray);
}

.landing-section-content {
  word-break: keep-all;
}

/* NOTE: HTML에 강하게 결합되어 있어서 유지보수 관점에서 구조적인 문제를 내포하고 있음 */
.landing-section-content > div {
  margin-top: 12px;
}

.landing-section-content > div > h2 {
  margin-bottom: 24px;
}

/* Content Footer */
.landing-footer {
  background-color: var(--bg-blue);
  padding-top: 200px;
}

.landing-footer > div {
  width: 1110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-footer-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 60px;
  word-break: keep-all;
}

/* footer */
.footer {
  height: 160px;
  background-color: var(--secondary-900);
}

/* 재사용이 필요 없는 스타일들 */

.w-274 {
  width: 274px;
}

.w-288 {
  width: 288px;
}

.w-335 {
  width: 335px;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.text-right {
  text-align: right;
}
