.btn-small-48 {
  padding: 12px 23px;
  background-color: var(--primary-100);
  border-radius: 8px;
  color: var(--secondary-100);
  vertical-align: middle;
  text-align: center;

  font: var(--text-lg-bold);
  border: none;
}

.btn-small-48:hover {
  background-color: var(--primary-200);
}

.btn-small-48:active {
  background-color: var(--primary-300);
}

.btn-small-48:disabled {
  background-color: var(--primary-400);
}

.btn-large {
  padding: 16px 124px;
  background-color: var(--primary-100);
  border-radius: 40px;
  color: var(--secondary-100);
  vertical-align: middle;
  text-align: center;

  font: var(--text-lg-bold);
  border: none;
}

.btn-large:hover {
  background-color: var(--primary-200);
}

.btn-large:active {
  background-color: var(--primary-300);
}

.btn-large:disabled {
  background-color: var(--primary-400);
}
