.input {
  border: none;
  border-radius: 12px;
  padding: 16px 24px;

  background-color: var(--secondary-100);
  color: var(--secondary-800);
}

.input::placeholder {
  font: var(--text-lg-regular);
  color: var(--secondary-400);
}

.input:focus {
  outline: 1px solid var(--primary-100);
}